<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CpVehiclesMapper">
    
    <resultMap type="CpVehicles" id="CpVehiclesResult">
        <result property="VehicleID"    column="VehicleID"    />
        <result property="UserID"    column="UserID"    />
        <result property="LicensePlate"    column="LicensePlate"    />
        <result property="VehicleType"    column="VehicleType"    />
        <result property="VehicleBrand"    column="VehicleBrand"    />
        <result property="VehicleModel"    column="VehicleModel"    />
    </resultMap>

    <sql id="selectCpVehiclesVo">
        select VehicleID, UserID, LicensePlate, VehicleType, VehicleBrand, VehicleModel from cp_vehicles
    </sql>

    <select id="selectCpVehiclesList" parameterType="CpVehicles" resultMap="CpVehiclesResult">
        <include refid="selectCpVehiclesVo"/>
        <where>  
            <if test="UserID != null "> and UserID = #{UserID}</if>
            <if test="LicensePlate != null  and LicensePlate != ''"> and LicensePlate = #{LicensePlate}</if>
            <if test="VehicleType != null  and VehicleType != ''"> and VehicleType = #{VehicleType}</if>
            <if test="VehicleBrand != null  and VehicleBrand != ''"> and VehicleBrand = #{VehicleBrand}</if>
            <if test="VehicleModel != null  and VehicleModel != ''"> and VehicleModel = #{VehicleModel}</if>
        </where>
    </select>
    
    <select id="selectCpVehiclesByVehicleID" parameterType="Long" resultMap="CpVehiclesResult">
        <include refid="selectCpVehiclesVo"/>
        where VehicleID = #{VehicleID}
    </select>
        
    <insert id="insertCpVehicles" parameterType="CpVehicles" useGeneratedKeys="true" keyProperty="VehicleID">
        insert into cp_vehicles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="UserID != null">UserID,</if>
            <if test="LicensePlate != null and LicensePlate != ''">LicensePlate,</if>
            <if test="VehicleType != null">VehicleType,</if>
            <if test="VehicleBrand != null">VehicleBrand,</if>
            <if test="VehicleModel != null">VehicleModel,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="UserID != null">#{UserID},</if>
            <if test="LicensePlate != null and LicensePlate != ''">#{LicensePlate},</if>
            <if test="VehicleType != null">#{VehicleType},</if>
            <if test="VehicleBrand != null">#{VehicleBrand},</if>
            <if test="VehicleModel != null">#{VehicleModel},</if>
         </trim>
    </insert>

    <update id="updateCpVehicles" parameterType="CpVehicles">
        update cp_vehicles
        <trim prefix="SET" suffixOverrides=",">
            <if test="UserID != null">UserID = #{UserID},</if>
            <if test="LicensePlate != null and LicensePlate != ''">LicensePlate = #{LicensePlate},</if>
            <if test="VehicleType != null">VehicleType = #{VehicleType},</if>
            <if test="VehicleBrand != null">VehicleBrand = #{VehicleBrand},</if>
            <if test="VehicleModel != null">VehicleModel = #{VehicleModel},</if>
        </trim>
        where VehicleID = #{VehicleID}
    </update>

    <delete id="deleteCpVehiclesByVehicleID" parameterType="Long">
        delete from cp_vehicles where VehicleID = #{VehicleID}
    </delete>

    <delete id="deleteCpVehiclesByVehicleIDs" parameterType="String">
        delete from cp_vehicles where VehicleID in 
        <foreach item="VehicleID" collection="array" open="(" separator="," close=")">
            #{VehicleID}
        </foreach>
    </delete>
</mapper>