<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CpVehiclesMapper">
    
    <resultMap type="CpVehicles" id="CpVehiclesResult">
        <result property="vehicleId"    column="vehicle_id"    />
        <result property="userId"    column="user_id"    />
        <result property="licensePlate"    column="license_plate"    />
        <result property="vehicleType"    column="vehicle_type"    />
        <result property="vehicleBrand"    column="vehicle_brand"    />
        <result property="vehicleModel"    column="vehicle_model"    />
    </resultMap>

    <sql id="selectCpVehiclesVo">
        select vehicle_id, user_id, license_plate, vehicle_type, vehicle_brand, vehicle_model from cp_vehicles
    </sql>

    <select id="selectCpVehiclesList" parameterType="CpVehicles" resultMap="CpVehiclesResult">
        <include refid="selectCpVehiclesVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="licensePlate != null  and licensePlate != ''"> and license_plate = #{licensePlate}</if>
            <if test="vehicleType != null  and vehicleType != ''"> and vehicle_type = #{vehicleType}</if>
            <if test="vehicleBrand != null  and vehicleBrand != ''"> and vehicle_brand = #{vehicleBrand}</if>
            <if test="vehicleModel != null  and vehicleModel != ''"> and vehicle_model = #{vehicleModel}</if>
        </where>
    </select>
    
    <select id="selectCpVehiclesByVehicleId" parameterType="Long" resultMap="CpVehiclesResult">
        <include refid="selectCpVehiclesVo"/>
        where vehicle_id = #{vehicleId}
    </select>
        
    <insert id="insertCpVehicles" parameterType="CpVehicles" useGeneratedKeys="true" keyProperty="vehicleId">
        insert into cp_vehicles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="licensePlate != null and licensePlate != ''">license_plate,</if>
            <if test="vehicleType != null">vehicle_type,</if>
            <if test="vehicleBrand != null">vehicle_brand,</if>
            <if test="vehicleModel != null">vehicle_model,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="licensePlate != null and licensePlate != ''">#{licensePlate},</if>
            <if test="vehicleType != null">#{vehicleType},</if>
            <if test="vehicleBrand != null">#{vehicleBrand},</if>
            <if test="vehicleModel != null">#{vehicleModel},</if>
         </trim>
    </insert>

    <update id="updateCpVehicles" parameterType="CpVehicles">
        update cp_vehicles
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="licensePlate != null and licensePlate != ''">license_plate = #{licensePlate},</if>
            <if test="vehicleType != null">vehicle_type = #{vehicleType},</if>
            <if test="vehicleBrand != null">vehicle_brand = #{vehicleBrand},</if>
            <if test="vehicleModel != null">vehicle_model = #{vehicleModel},</if>
        </trim>
        where vehicle_id = #{vehicleId}
    </update>

    <delete id="deleteCpVehiclesByVehicleId" parameterType="Long">
        delete from cp_vehicles where vehicle_id = #{vehicleId}
    </delete>

    <delete id="deleteCpVehiclesByVehicleIds" parameterType="String">
        delete from cp_vehicles where vehicle_id in 
        <foreach item="vehicleId" collection="array" open="(" separator="," close=")">
            #{vehicleId}
        </foreach>
    </delete>
</mapper>